body {
    background-color: #f2f1e6dc;
    margin: 0; 
    padding: 0;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.links a:hover { 
    border-bottom: 3px solid #d42e1f;
    color: #ffd0b3;
    transform: scale(1.05);
}

.logo img {
    height: 80px;
    margin-left: 100px;
    margin-top: 2%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7b3911;
    height: 100px;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

.hero {
    margin-top: 100px;
    position: relative;
}

.fundo {
    width: 50%;
    height: 600px;
    object-fit: cover;
    left:50%;
    top:50%;
    position:relative;
    filter: grayscale(0.5);
}

.hero .sobre-nos {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: rgb(48, 48, 48);
    width: 35%;
}

.sobre-nos h1 {
    font-weight: 600;
    text-align: left;
}

.sobre-nos h2 {
    font-weight: 400;
    text-align: left;
    color:#7b3911;
}

.sobre-nos p {
    font-size: 20px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(48, 48, 48);
}

footer {
    background-color: #7b3a11e7;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
    margin-bottom: 0;
}

.endereco {
    float: center;
}

.contato {
    float: center;
}

.horario-funcionamento {
    float: center;
}

.sobre-desenvolvedor {
    margin-top: 100px;
    position: relative;
}

.bruna {
    width: 600px;
    height: 600px;
    object-fit: cover;
    top:50%;
    position:relative;
    border-radius: 50%;
    margin-left: 5%;
    filter: grayscale(0.3);
}

.sobre-desenvolvedor .sobre-bruna {
    position: absolute;
    top: 45%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: rgb(48, 48, 48);
    width: 35%;
}

.sobre-bruna h1{
    font-weight: 600;
    text-align: left;
}

.sobre-bruna h2 {
    font-weight: 400;
    text-align: left;
    color:#7b3911;
}

.sobre-bruna p {
    font-size: 20px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(48, 48, 48);
}