body {
    background-color: #f2f1e6dc;
    margin: 0; 
    padding: 0;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.links a:hover { 
    border-bottom: 3px solid #d42e1f;
    color: #ffd0b3;
    transform: scale(1.05);
}

.logo img {
    height: 99.5px;
    margin-left: 100px;
    margin-top: 2%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7b3911;
    height: 100px;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

.imgFundo {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    filter: grayscale(0.5);
    margin-top: 100px;
}


.image-container .image-text {
    position: absolute;
    top:85%;
    left: 37%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: rgba(255, 255, 255, 0.911);
    font-size: 100px;
    font-weight: bold;
}

h1 {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    color: #7b3911;
    font-weight: 900;
}

p {
    font-weight: 100;
    font-size: 17px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(48, 48, 48);
    text-align: justify;
}

.pizza {
    width: 25%;
    height: 215px;
    margin-top: 5%;
    margin-left: 200px;
    margin-bottom: 10%;
    box-shadow: 0 0 10px;
}

.lasanha, .tiramisu, .risoto, .cannoli, .panna-cotta{
    width: 25%;
    height: 215px;
    margin-left: 200px;
    margin-bottom: 10%;
    box-shadow: 0 0 10px;
}

.pizza:hover, .lasanha:hover, .tiramisu:hover, .risoto:hover, .cannoli:hover, .panna-cotta:hover { 
    transform: scale(1.05);
}

.sobre-pizza, .sobre-lasanha, .sobre-tiramisu, .sobre-risoto, .sobre-cannoli, .sobre-panna-cotta {
    position: relative;
}

.sobre-pizza .pizza-text {
    position: absolute;
    top: 30%;
    left: 65%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: rgb(48, 48, 48);
    width: 70%;
}

.sobre-lasanha .lasanha-text, .sobre-tiramisu .tiramisu-text, .sobre-risoto .risoto-text, .sobre-cannoli .cannoli-text, .panna-cotta-text {
    position: absolute;
    top: 15%;
    left: 65%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: rgb(48, 48, 48);
    width: 70%;
}

.pizza-text h1 {
    font-weight: 600;
    text-align: left;
}

.lasanha-text h1, .tiramisu-text h1, .risoto-text h1, .cannoli-text h1, .panna-cotta-text h1 {
    font-weight: 600;
    text-align: left;
}

.pizza-text p {
    font-size: 20px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(48, 48, 48);
}

.lasanha-text p, .tiramisu-text p, .risoto-text p, .cannoli-text p, .panna-cotta-text p {
    font-size: 20px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(48, 48, 48);
}

footer {
    background-color: #7b3a11e7;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
    margin-bottom: 0;
}

.endereco, .endereco p {
    float: center;
    color: white;
    text-align: center;
}

.contato, .contato p {
    float: center;
    color: white;
    text-align: center;
}